html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-snack-bar-container {
  background-color: #323232;
  color: white;
  font-size: 14px;
  border-radius: 6px;
  text-align: center;
  justify-content: center;
}

.mat-simple-snackbar-action {
  color: #ffc107;
}
